{% extends 'todo_list/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<br/>
<h1>Hello world</h1>

{% if lists %}
    <table class="table table-bordered">
    {% for part in lists %}
        {% if part.completed %}
            <tr class="table-secondary">
                <td class="striker">{{part.item}}</td>
                <td>{{part.completed}}</td>
                <td>Deleted</td>
            </tr>
        {% else %}
            <tr>
                <td>{{part.item}}</td>
                <td>{{part.completed}}</td>
                <td>Deleted</td>
            </tr>
        {% endif %}

    {% endfor %}
    </table>
{% endif %}

{% endblock %}

